* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #co {
    overflow-x: hidden;
}

body {
    font-family: Open-Sans, sans-serif;
    background-color: #111121;
}


#co {
    display: grid;
    margin: auto;
    padding-top: 50px;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.count {
    font-size: 20px;
    font-weight: 600;
    padding-top: 7px;
    width: 67%;
    text-align: right;
}

ul {
    justify-self: center;
    padding-bottom: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    margin-top: 20px;

}

.zam {
    color: #000;
    justify-self: start;
}

#group_info {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 67%;
    margin-left: 0px;
    align-items: center;
}

#name {
    display: block;
    margin-top: 50px;
    width: 67%;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: 3px solid #6e6e6e;
    font-size: 25px;
    padding: 10px 0px 10px 20px;
}

#name:focus {
    border-color: #428038;
}

#text {
    display: block;
    width: 67%;
    height: 200px;
    border-radius: 20px;
    outline: none;
    border: 3px solid #6e6e6e;
    font-size: 25px;
    padding: 10px 0px 10px 20px;
    resize: vertical;
    margin-top: 50px;
}

#text:focus {
    border: 3px solid #428038;
}

#sub {
    display: block;
    font-size: 27px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #428038;
    border-radius: 20px;
    padding: 10px;
    color: #428038;
    cursor: pointer;
    outline: none;
    margin: auto;
    margin-top: 30px;
}

#sub:hover {
    background-color: #428038;
    color: #fff;
}

hr {
    width: 67%;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 30px;

}

.card {

    background-color: #e0e0e0;
    width: 67%;
    border-radius: 20px;
    padding: 20px;
    padding-right: 35px;
    word-break: break-word;
    margin-left: 0;
}

.node-text {
    font-size: 25px;
}


.trash {
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid #fff;
    cursor: pointer;
    outline: none;
    display: none;
    float: right;
}

.card:hover {
    background-color: rgba(17, 17, 33, .9);
}

.card:hover .trash {
    display: block;
}

.svg {
    fill: #fff;
}

.svg:hover {
    fill: #e01414;
}

#empty {
    float: left;
    margin-left: 150px;
    font-size: 35px;
    margin-top: 50px;
}

#search {
    height: 50px;
    border-radius: 20px;
    outline: none;
    font-size: 25px;
    width: 20px;
    border: 0;
    background-image: url("../icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    justify-self: end;
}

#search:focus {
    border: 3px solid #428038;
    animation-name: search;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes search {
    0% {
        width: 20px;
    }

    100% {
        width: 250px;
        padding: 10px 25px 10px 20px;
    }
}

.search-icon {
    position: absolute;
}

.name-card {
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 752px) {
    #co {
        margin-top: 0;
        width: auto;
    }


}

@media screen and (max-width: 425px) {

    #search {
        width: 60px;
        background-size: 25px 25px;
        font-size: 25px;
    }

    body {
        width: 425px;
    }

    #co {
        margin-top: 0;
        width: 425px;
    }

    #group_info {
        width: 325px;
    }

    @keyframes search {
        0% {
            width: 20px;
        }

        100% {
            width: 190px;
            padding: 10px 25px 10px 20px;
        }
    }

    #name {
        width: 325px;
    }

    #text {
        width: 325px;
    }

    hr {
        width: 325px;
    }

    .card {
        width: 325px;
    }

    .name-card {
        font-size: 25px;
    }

    .trash {
        padding-left: 15px;
    }
}

@media screen and (max-width: 375px) {
    body {
        width: 375px;
    }

    #co {
        width: 375px;

    }

    .zam {
        font-size: 40px;
        justify-self: center;
    }

    #group_info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #group_info, #name, #text, .card, hr {
        width: 290px;
    }
}

@media screen and (max-width: 320px) {
    body, #co {
        width: 320px;
    }

    #co {

    }

    #group_info, #name, #text, .card, hr {
        width: 230px;
    }

    #text {
        font-size: 21px;
    }
}
