<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no, user-scalable=no">

    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- CSS only -->
    <style>
        [v-cloak] {
            display: none;
        }


    </style>
</head>
<body>

    <div id="co" v-cloak>
        <div id="group_info">
            <h1 class="zam">{{counter}}</h1>
            <input type="text" id="search" v-bind:value="searchValue" @input="Search">
        </div>
        <p class="count"v-if="nodes.length != 0">Всего заметок: {{nodes.length}}</p>
        <p class="count" v-else>Пока нет заметок</p>
        <input type="text" id="name" v-bind:value="nameValue" @input="onInputName" :placeholder="plhnameText">
        <textarea id="text" v-bind:placeholder="plhText"
                  v-bind:value="inpValue"
                  v-on:input="onInput"
                  v-on:keypress.enter.prevent="onClick"
        ></textarea>
        <button @click="onClick"id="sub">Добавить</button>
        <hr/>
        <ul>

            <div class="wrapper" v-for="(node, index) in evenItems" v-if="nodes.length != 0">

                <div class="card">
                    <button type="button" class="trash" v-on:click="Delete(index)">
                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                    <h2 class="name-card">{{node.name}}</h2><br>
                    {{node.node}}
                </div>

            </div>
            <h2 id="empty" v-else="nodes.length == 0">Заметок нет</h2>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script>

</body>
</html>
